<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="card bg-info bg-gradient rounded">
                        <div class="card-body">
                            <h1 class="text-center mb-4 bg-white">Cores Cadastradas</h1>
                            <h3 class="fs-4 text">Descrição</h3>
                            <hr />
                            <h4 class="fs-5 text">Id: 3434343</h4>
                            <hr />
                            <button type="button" class="btn btn-success">Ver Mais</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-start justify-content-end">
                    <div class="input-group mb-3 gap-2">
                        <input type="text" class="form-control" placeholder="Oque Você esta Procurando" aria-label="Oque Você esta Procurando" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
                        </div>
                    <img src="~/img/cromatico.png" class="img-fluid" alt="Imagem Cromática" />
                        <button type="button" class="btn btn-outline-primary ms-5 w-50">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
