
    <style>
        body {
            background-color: #f4f4f4;
            font-family: 'Segoe UI', sans-serif;
        }

        .card-custom {
            background: linear-gradient(45deg, #6ab1d7 0%, #3383cd 100%);
            color: white;
            border: none;
        }

        .card-header-custom {
            background-color: #fff;
            color: #333;
            font-size: 1.5rem;
            text-align: center;
            display:flex;
            gap:8px;
        }

        .search-bar {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .search-input {
            flex-grow: 1;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .btn-custom {
            background-color: #28a745;
            border-color: #28a745;
        }

            .btn-custom:hover {
                background-color: #218838;
                border-color: #1e7e34;
            }

        .btn-outline-custom {
            border-color: #007bff;
            color: #007bff;
        }

            .btn-outline-custom:hover {
                background-color: #007bff;
                color: #fff;
            }
        .colors
        {   
            border-bottom: 2px solid black;
        }

     
    </style>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-custom rounded">
                    <div class="card-header card-header-custom">Cores Cadastradas</div>
                    <div class="overflow-auto">
                        <!-- Esta classe deve ser aplicada aqui -->
                        <div class="card-body colors">
                            <h3 class="fs-4">Descrição:  </h3>
                            <hr>
                            <h4 class="fs-5">Id: </h4>
                            <hr>
                            <h4 class="fs-5">CreatedBy: </h4>
                            <hr />
                            <button type="button" class="btn btn-custom">Ver Mais</button>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start justify-content-end">
                <div class="input-group mb-3 gap-2">
                    <input type="text" class="form-control" placeholder="Oque Você esta Procurando" aria-label="Oque Você esta Procurando" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
                    </div>
                    <img src="~/img/cromatico.png" class="img-fluid" alt="Imagem Cromática" />
                    <a asp-controller="Color" asp-action="Cadastre" type="button" class="btn btn-outline-primary btnAdd w-100">Adicionar</a>
                </div>
                </div>
        </div>
    </div>

