@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">BEM VINDO(A) à Loja Power Sapatos</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
        
            <img src="~/img/ShooteIndex.jpg" class="img-fluid rounded" alt="Shoe Store Image">
        </div>
    </div>
</div>
